.lala{
      height: 200px;           
      width: 100%;  
      object-fit: contain;
      background-color: #634233;
}
.lele{
       height: 200px;           
      width: 100%;  
      object-fit: contain;
      background-color: #131a27;
}
.lili{
       height: 200px;           
      width: 100%;  
      object-fit: contain;
      background-color: #e6d0d6;
}
