<div class="container mt-4">
  <div class="row">
    
    <div class="col-md-4">
      <div class="card">
        <img class="lele" src="img/shopping (1).png">
        <div class="card-body">
          <h5 class="card-title">Sauvage</h5>
          <p class="card-text">Perfume Sauvage Masculino Eau de Parfum 100ml.</p>
          <a href="https://www.amazon.com.br/Perfume-Sauvage-Masculino-Parfum-100ml/dp/B079TQS99Q/ref=asc_df_B079TQS99Q?mcid=115bef65ae033db297dec681296f1cdd&tag=googleshopp00-20&linkCode=df0&hvadid=709877018109&hvpos=&hvnetw=g&hvrand=4887532741047443205&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=1001773&hvtargid=pla-493469360527&psc=1&hvocijid=4887532741047443205-B079TQS99Q-&hvexpln=0&language=pt_BR" class="btn btn-primary">Ver mais</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <img class="lala" src="img/shopping (2).png">
        <div class="card-body">
          <h5 class="card-title">Asad</h5>
          <p class="card-text">Lattafa Asad Bourbon Eau de Parfum 100ml.</p>
          <a href="https://www.amazon.com.br/Lattafa-Asad-Bourbon-Parfum-100ml/dp/B0DQJBMZVW/ref=asc_df_B0DQJBMZVW?mcid=645444424a7932e983b6e30f739dec46&tag=googleshopp00-20&linkCode=df0&hvadid=709963977521&hvpos=&hvnetw=g&hvrand=4887532741047443205&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=1001773&hvtargid=pla-2395707367640&psc=1&hvocijid=4887532741047443205-B0DQJBMZVW-&hvexpln=0&language=pt_BR" class="btn btn-primary">Ver mais</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <img class="lili" src="img/shopping.png">
        <div class="card-body">
          <h5 class="card-title">Lyra</h5>
          <p class="card-text">Colônia Eudora Lyra 75ml.</p>
          <a href="https://www.amazon.com.br/Lyra-Eudora-Col%C3%B4nia-Feminina-75ml/dp/B08KWPDZ9K/ref=asc_df_B08KWPDZ9K?mcid=27d78b18e8383b7caa76b8513832b69f&tag=googleshopp00-20&linkCode=df0&hvadid=709963977548&hvpos=&hvnetw=g&hvrand=13823198829496107685&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=1001773&hvtargid=pla-1202759850373&psc=1&hvocijid=13823198829496107685-B08KWPDZ9K-&hvexpln=0&language=pt_BR" class="btn btn-primary">Ver mais</a>
        </div>
      </div>
    </div>

  </div>
</div>
